@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* USING FLEXBOX */

body{
    background-color: hsl(219, 84%, 83%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 550px;
    width: 350px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}

/* MAIN COMPONENTS */

.img-component img{
    height: 320px;
    width: 320px;
    margin-top: 20px;
    margin-left: 14px;
    border-radius: 10px;
}

.first-text{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 15px 29px 7px 23px;
    text-align: center;
}

.qrcode-text{
    font-family: 'Outfit' , sans-serif;
    font-weight: 400;
    color: hsl(214, 6%, 57%);
    text-align: center;
    padding: 5px 43px 0px 37px;
    line-height: 1.2rem;
}

