@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
    min-height: 100vh;
    display: flex;
    font-size: 15px;
    align-items: center;
}

.container{
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(244, 38%, 16%);
    border-radius: 15px;
    overflow: hidden;
}

.wrapper h1{
    color: white;
    font-family: 'Inter' ,  sans-serif;
    font-weight: 700;
    padding-right: 5rem;
}

span{
    color:hsl(277, 64%, 61%);
    font-family: 'Inter' ,  sans-serif;
    font-weight: 700;
}

.subtitle{
    color:hsla(0, 0%, 100%, 0.75);
    margin-top: 23px; 
    line-height: 1.5rem;
    margin-right: 20px;
}

.text-component{
    padding-top: 3.75rem;
    padding-left: 3.75rem;
    padding-right: 2.5rem;
    
}

.image-component img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
}

.main-heading{
    line-height: 2.5rem;
}

.stat-box{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    text-transform: uppercase;
    margin-right: 35px;
}

.stat-box p.text-stats {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

.stat-box p.num{
    font-family: 'Inter' ,  sans-serif;
    font-weight: 700;
    color:white;
    font-size: 25px;
    margin-bottom: 7px;
}

.image-component{
    position: relative;
}

.image-component::after{
    
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: hsla(277, 100%, 35%, 0.35);
    
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
    body {
        font-size: 12px;
    }

    .text-component {
        padding: 12%;
    }

    .title {
        font-size: 22px;
    }

    .stat-box {
        padding-top: 30px;
    }

    .stat-box p.num {
        font-size: 17px;
    }
}

@media only screen and (max-width: 425px){
    body{
        text-align: center;
    }
   .wrapper{
    display: grid;
    grid-template-columns: 1fr;
   }

   .image-component{
    order: -1;
    width: 100%;
    height: 100%;
   }

   .text-component{
    padding: 12% 8%;
   }
   .main-heading {
    font-size: 23px;
    line-height: 1.4;
    padding-left: 55px;
    }

.stat-box {
    flex-direction: column;
    padding-top: 30px;
}

.stat-box div {
    margin-top: 20px;
}
}